*{
border:none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body{
	background: #0C4286;
	background-attachment: fixed;
	background-size: cover;	
	border:none;
	margin: none;
	padding: none;
	box-sizing: border-box;
}

.title h1{
	font-size: 40px;
	color:#F4F6F7;
	text-align: center;
	overflow: hidden;
	padding-top: 20px;
	font-family: Merriweather;
}

.title a{
	border:2px solid #1ABC9C;
	padding: 6px 6px;
	color:white;
	font-weight: bold;
	border-radius: 17px;
	outline: none;
}

.intro{
	font-family:Roboto+Slab;
	font-weight:;
	font-size: 20px;
	color: white;
}

h3{
	font-size: 30px;
	color: white;
	text-align: center;
	text-overflow: hidden;
	margin-top: 35px;
	padding-bottom: 10px;
	padding-top: 10px;
	background: #5DADE2;
	font-weight:bold;
	font-family: Merriwater;
	


}

.Language-tutorials  li img{
	margin: none;
	text-align: left;
	padding-left: none;
	margin-left: none;
}

.footer{
	background: black;
	margin: none;
	display: flex;
	background-size: cover;
	width: 100%;
	
}

.contact-info h1{
	margin-top: 20px;
	font-size:30px; 
	font-weight:bold;
	font-family:Merriweather ;
	overflow: hidden;
	color: white;
}

.contact-info li a{
	list-style: none;
	margin-right: 10px;
	font-family: Hepta;
	font-size: 24px;
	text-align: center;
	

}

.contact-info li{
	list-style: none;
	align-content: center;
	margin-left: 30px;
}

.contact-info li a i{
	margin-right: 20px;
}

.recommendations h1{
	margin-top: 20px;
	font-size:30px; 
	font-weight:bold;
	font-family:Merriweather ;
	overflow: hidden;
	color: white;
}

.recommendations li{
	list-style: none;
	margin-left: 20px;
}



.block-one{
	margin-top: 40px;
	background:black;
	background-size: cover;	
}

.block-one ul li{
	float: left;
	margin-right: 56px;
	width:200px;
	list-style: none;
	border:2px solid green;
	text-align: center;
	border:2px solid #1ABC9C;
	border-radius: 17px;
	background:#05237D;

}

.block-one ul li a{
	
	font-family: Merriweather;
	padding: 10px 10px;
	color:white;
	font-weight: bold;
	outline: none;
}

.block-one ul li a i{
	margin-left: 15px;
	color:#58D68D;
}


.block-two{
	margin-top: 40px;
	background:black;
	background-size: cover;	
}

.block-two ul li{
	float: left;
	margin-right: 56px;
	width:200px;
	list-style: none;
	border:2px solid green;
	text-align: center;
	border:2px solid #1ABC9C;
	border-radius: 17px;
	background:#05237D;

}

.block-two ul li a{
	
	font-family: Merriweather;
	padding: 10px 10px;
	color:white;
	font-weight: bold;
	outline: none;

}

.block-two ul li a i{
	margin-left: 15px;
	color:#58D68D;
}


.block-three{
	margin-top: 40px;
	background:black;
	background-size: cover;	
}

.block-three ul li{
	float: left;
	margin-right: 56px;
	width:200px;
	list-style: none;
	border:2px solid green;
	text-align: center;
	border:2px solid #1ABC9C;
	border-radius: 17px;
	background:#05237D;

}

.block-three ul li a{
	
	font-family: Merriweather;
	padding: 10px 10px;
	color:white;
	font-weight: bold;
	outline: none;
}

.block-three ul li a i{
	margin-left: 15px;
	color:#58D68D;
}


.block-four{
	margin-top: 40px;
	background:black;
	background-size: cover;	
}

.block-four ul li{
	float: left;
	margin-right: 56px;
	width:200px;
	list-style: none;
	border:2px solid green;
	text-align: center;
	border:2px solid #1ABC9C;
	border-radius: 17px;
	background:#05237D;

}

.block-four ul li a{
	
	font-family: Merriweather;
	padding: 10px 10px;
	color:white;
	font-weight: bold;
	outline: none;
}

.block-four ul li a i{
	margin-left: 15px;
	color:#58D68D;
}


.block-five{
	margin-top: 40px;
	background:black;
	background-size: cover;	
}

.block-five ul li{
	float: left;
	margin-right: 56px;
	width:200px;
	list-style: none;
	border:2px solid green;
	text-align: center;
	border:2px solid #1ABC9C;
	border-radius: 17px;
	background:#05237D;

}

.block-five ul li a{
	
	font-family: Merriweather;
	padding: 10px 10px;
	color:white;
	font-weight: bold;
	outline: none;
}

.block-five ul li a i{
	margin-left: 15px;
	color:#58D68D;
}

.lists li{
	width:259px;
	list-style: none;
	background: none;
	outline:none;
	text-align: center;
	overflow: hidden;
	float: left;
	display: flex;
	margin-right: 50px;
	
}

.lists li a{
	text-align: center;
	font-size: 25px;
	width: 100%;
	color: white;
	padding-right: 10px;

}

.lists li p{

	color:white;
	text-overflow: clip;
	font-size: 15px;
}


.api-key
{
	width:45rem;
	padding-bottom: 0px;
	margin-bottom: 0px;	
	margin-left: 10rem;
}



.api-key button{
	background-color: #3498DB;
}

.api-key .gsc-control-cse 
{
	outline: none;
	margin:0px;
	padding:0px;
	width: 40rem;
	border:4px solid #3498DB;
	padding-right: 1.4rem;
	text-align: center;
	border-radius: 20px;
	height: 3rem;
	line-height: 20px;
	
}


 .api-key .gsc-control-cse  .gsc-control-wrapper-cse 

 {
 	border:0px;
 	outline: none;
 	margin: 0px;
 	padding: 0px;
 	margin-left: 0.6rem;
 }

 .api-key .gsc-control-cse  .gsc-control-wrapper-cse  .gsc-search-box
 {
 	outline:none;
 	border:0px;
 	margin:0px;
 	padding: 0px;
 	margin-left: 0.1rem;
 	outline: none;
 	padding-top: 5px;
 }

.ad{
	background:white;
